@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: white;
}

.nav-link {
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: 600;
  padding: 1rem 2rem;
  border: 2px solid white;
  border-radius: 15px;
}

.nav-link.active {
  color: #A10859;
  background-color: white;
}
