@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --navbar-color: #A10859;
  --outlet-color: #2148C0;
}

/* Estilos generales*/
body {
  font-family: "Montserrat", sans-serif;
  color: white
}


label {
  font-weight: 500;
}

textarea {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  margin-top: 1rem;
  height: 90%;
  width: 100%;
  border: none;
}

textarea:focus,
textarea:active {
    outline: none;
    border: none;
    box-shadow: none;
}

input, select {
  display: block;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  border: white;
  font-size: 1.05rem;
}

table, th, td {
  border: 1px solid transparent;
}



table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  color: black;
  font-weight: bold;
}

td {
  line-height: 1.6;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

table, th, td {
  border-radius: 4px;
}

th.center, td.center {
  text-align: center;
}

th.right, td.right {
  text-align: right;
}


input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
  align-self: center;
  border-radius: 4px;
  border: none;
  outline: none;
}


button {
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid white;
}

/* ESTILOS 'INFORMES' */

.nav-link {
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: 600;
  padding: 1rem 2rem;
  border: 2px solid white;
  border-radius: 15px;
}

.nav-link.active {
  color: var(--navbar-color);
  background-color: white;
}

.label-input, .label-select {
  display: flex;
  flex-direction: column;
}

.boton-buscar-informe {
  background-color: white;
  padding: 0 1rem;
}

.boton-crear-informe {
  background-color: white;
  color: var(--outlet-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0 0.8rem;
  &:hover{
    background-color: transparent;
    color: white;
  }
}

input[type="date"] {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

